BLOCK RESETPATHS;
BLOCK ASYNCPATHS;

LOCATE COMP "clk" SITE "P6";
FREQUENCY PORT "clk" 25 MHz;

LOCATE COMP "rst_n" SITE "R7";
LOCATE COMP "led_n" SITE "T6";


# PHY0
LOCATE COMP "phy0_rxc" SITE "J1";
LOCATE COMP "phy0_rxd[0]" SITE "K2";
LOCATE COMP "phy0_rxd[1]" SITE "J3";
LOCATE COMP "phy0_rxd[2]" SITE "K1";
LOCATE COMP "phy0_rxd[3]" SITE "K3";
LOCATE COMP "phy0_rxctl" SITE "J2";

LOCATE COMP "phy0_txc" SITE "L1";
LOCATE COMP "phy0_txd[0]" SITE "M2";
LOCATE COMP "phy0_txd[1]" SITE "M1";
LOCATE COMP "phy0_txd[2]" SITE "P1";
LOCATE COMP "phy0_txd[3]" SITE "R1";
LOCATE COMP "phy0_txctl" SITE "L2";

FREQUENCY PORT "phy0_rxc" 125 MHz;


# PHY1
LOCATE COMP "phy1_rxc" SITE "M16";
LOCATE COMP "phy1_rxd[0]" SITE "M15";
LOCATE COMP "phy1_rxd[1]" SITE "R16";
LOCATE COMP "phy1_rxd[2]" SITE "L15";
LOCATE COMP "phy1_rxd[3]" SITE "L16";
LOCATE COMP "phy1_rxctl" SITE "P16";

LOCATE COMP "phy1_txc" SITE "J16";
LOCATE COMP "phy1_txd[0]" SITE "K16";
LOCATE COMP "phy1_txd[1]" SITE "J15";
LOCATE COMP "phy1_txd[2]" SITE "J14";
LOCATE COMP "phy1_txd[3]" SITE "K15";
LOCATE COMP "phy1_txctl" SITE "K14";

FREQUENCY PORT "phy1_rxc" 125 MHz;


# HUB75
LOCATE COMP "hub75_a" SITE "N5";
LOCATE COMP "hub75_b" SITE "N3";
LOCATE COMP "hub75_c" SITE "P3";
LOCATE COMP "hub75_d" SITE "P4";
LOCATE COMP "hub75_e" SITE "N4";
LOCATE COMP "hub75_clk" SITE "M3";
LOCATE COMP "hub75_lat" SITE "N1";
LOCATE COMP "hub75_oe" SITE "M4";

LOCATE COMP "hub75_j1_r0" SITE "C4";
LOCATE COMP "hub75_j1_g0" SITE "D4";
LOCATE COMP "hub75_j1_b0" SITE "E4";
LOCATE COMP "hub75_j1_r1" SITE "D3";
LOCATE COMP "hub75_j1_g1" SITE "E3";
LOCATE COMP "hub75_j1_b1" SITE "F4";

LOCATE COMP "hub75_j2_r0" SITE "F3";
LOCATE COMP "hub75_j2_g0" SITE "F5";
LOCATE COMP "hub75_j2_b0" SITE "G3";
LOCATE COMP "hub75_j2_r1" SITE "G4";
LOCATE COMP "hub75_j2_g1" SITE "H3";
LOCATE COMP "hub75_j2_b1" SITE "H4";

LOCATE COMP "hub75_j3_r0" SITE "G5";
LOCATE COMP "hub75_j3_g0" SITE "H5";
LOCATE COMP "hub75_j3_b0" SITE "J5";
LOCATE COMP "hub75_j3_r1" SITE "J4";
LOCATE COMP "hub75_j3_g1" SITE "B1";
LOCATE COMP "hub75_j3_b1" SITE "C2";

LOCATE COMP "hub75_j4_r0" SITE "C1";
LOCATE COMP "hub75_j4_g0" SITE "D1";
LOCATE COMP "hub75_j4_b0" SITE "E2";
LOCATE COMP "hub75_j4_r1" SITE "E1";
LOCATE COMP "hub75_j4_g1" SITE "F2";
LOCATE COMP "hub75_j4_b1" SITE "F1";

LOCATE COMP "hub75_j5_r0" SITE "G2";
LOCATE COMP "hub75_j5_g0" SITE "G1";
LOCATE COMP "hub75_j5_b0" SITE "H2";
LOCATE COMP "hub75_j5_r1" SITE "K5";
LOCATE COMP "hub75_j5_g1" SITE "K4";
LOCATE COMP "hub75_j5_b1" SITE "L3";

LOCATE COMP "hub75_j6_r0" SITE "L4";
LOCATE COMP "hub75_j6_g0" SITE "L5";
LOCATE COMP "hub75_j6_b0" SITE "P2";
LOCATE COMP "hub75_j6_r1" SITE "R2";
LOCATE COMP "hub75_j6_g1" SITE "T2";
LOCATE COMP "hub75_j6_b1" SITE "R3";

LOCATE COMP "hub75_j7_r0" SITE "T3";
LOCATE COMP "hub75_j7_g0" SITE "R4";
LOCATE COMP "hub75_j7_b0" SITE "M5";
LOCATE COMP "hub75_j7_r1" SITE "P5";
LOCATE COMP "hub75_j7_g1" SITE "N6";
LOCATE COMP "hub75_j7_b1" SITE "N7";

LOCATE COMP "hub75_j8_r0" SITE "P7";
LOCATE COMP "hub75_j8_g0" SITE "M7";
LOCATE COMP "hub75_j8_b0" SITE "P8";
LOCATE COMP "hub75_j8_r1" SITE "R8";
LOCATE COMP "hub75_j8_g1" SITE "M8";
LOCATE COMP "hub75_j8_b1" SITE "M9";

LOCATE COMP "hub75_j9_r0" SITE "P11";
LOCATE COMP "hub75_j9_g0" SITE "N11";
LOCATE COMP "hub75_j9_b0" SITE "M11";
LOCATE COMP "hub75_j9_r1" SITE "T13";
LOCATE COMP "hub75_j9_g1" SITE "R12";
LOCATE COMP "hub75_j9_b1" SITE "R13";

LOCATE COMP "hub75_j10_r0" SITE "R14";
LOCATE COMP "hub75_j10_g0" SITE "T14";
LOCATE COMP "hub75_j10_b0" SITE "D16";
LOCATE COMP "hub75_j10_r1" SITE "C15";
LOCATE COMP "hub75_j10_g1" SITE "C16";
LOCATE COMP "hub75_j10_b1" SITE "B16";

LOCATE COMP "hub75_j11_r0" SITE "B15";
LOCATE COMP "hub75_j11_g0" SITE "C14";
LOCATE COMP "hub75_j11_b0" SITE "T15";
LOCATE COMP "hub75_j11_r1" SITE "P15";
LOCATE COMP "hub75_j11_g1" SITE "R15";
LOCATE COMP "hub75_j11_b1" SITE "P12";

LOCATE COMP "hub75_j12_r0" SITE "P13";
LOCATE COMP "hub75_j12_g0" SITE "N12";
LOCATE COMP "hub75_j12_b0" SITE "N13";
LOCATE COMP "hub75_j12_r1" SITE "M12";
LOCATE COMP "hub75_j12_g1" SITE "P14";
LOCATE COMP "hub75_j12_b1" SITE "N14";

LOCATE COMP "hub75_j13_r0" SITE "H15";
LOCATE COMP "hub75_j13_g0" SITE "H14";
LOCATE COMP "hub75_j13_b0" SITE "G16";
LOCATE COMP "hub75_j13_r1" SITE "F16";
LOCATE COMP "hub75_j13_g1" SITE "G15";
LOCATE COMP "hub75_j13_b1" SITE "F15";

LOCATE COMP "hub75_j14_r0" SITE "E15";
LOCATE COMP "hub75_j14_g0" SITE "E16";
LOCATE COMP "hub75_j14_b0" SITE "L12";
LOCATE COMP "hub75_j14_r1" SITE "L13";
LOCATE COMP "hub75_j14_g1" SITE "M14";
LOCATE COMP "hub75_j14_b1" SITE "L14";

LOCATE COMP "hub75_j15_r0" SITE "J13";
LOCATE COMP "hub75_j15_g0" SITE "K13";
LOCATE COMP "hub75_j15_b0" SITE "J12";
LOCATE COMP "hub75_j15_r1" SITE "H13";
LOCATE COMP "hub75_j15_g1" SITE "H12";
LOCATE COMP "hub75_j15_b1" SITE "G12";

LOCATE COMP "hub75_j16_r0" SITE "G14";
LOCATE COMP "hub75_j16_g0" SITE "G13";
LOCATE COMP "hub75_j16_b0" SITE "F12";
LOCATE COMP "hub75_j16_r1" SITE "F13";
LOCATE COMP "hub75_j16_g1" SITE "F14";
LOCATE COMP "hub75_j16_b1" SITE "E14";


# SDRAM
LOCATE COMP "sdram_addr[0]" SITE "A9";
LOCATE COMP "sdram_addr[1]" SITE "B9";
LOCATE COMP "sdram_addr[2]" SITE "B10";
LOCATE COMP "sdram_addr[3]" SITE "C10";
LOCATE COMP "sdram_addr[4]" SITE "D9";
LOCATE COMP "sdram_addr[5]" SITE "C9";
LOCATE COMP "sdram_addr[6]" SITE "E9";
LOCATE COMP "sdram_addr[7]" SITE "D8";
LOCATE COMP "sdram_addr[8]" SITE "E8";
LOCATE COMP "sdram_addr[9]" SITE "C7";
LOCATE COMP "sdram_addr[10]" SITE "B8";
LOCATE COMP "sdram_ba[0]" SITE "B7";
LOCATE COMP "sdram_ba[1]" SITE "A8";
LOCATE COMP "sdram_dq[0]" SITE "D5";
LOCATE COMP "sdram_dq[1]" SITE "C5";
LOCATE COMP "sdram_dq[2]" SITE "E5";
LOCATE COMP "sdram_dq[3]" SITE "C6";
LOCATE COMP "sdram_dq[4]" SITE "D6";
LOCATE COMP "sdram_dq[5]" SITE "E6";
LOCATE COMP "sdram_dq[6]" SITE "D7";
LOCATE COMP "sdram_dq[7]" SITE "E7";
LOCATE COMP "sdram_dq[8]" SITE "D10";
LOCATE COMP "sdram_dq[9]" SITE "C11";
LOCATE COMP "sdram_dq[10]" SITE "D11";
LOCATE COMP "sdram_dq[11]" SITE "C12";
LOCATE COMP "sdram_dq[12]" SITE "E10";
LOCATE COMP "sdram_dq[13]" SITE "C13";
LOCATE COMP "sdram_dq[14]" SITE "D13";
LOCATE COMP "sdram_dq[15]" SITE "E11";
LOCATE COMP "sdram_dq[16]" SITE "A5";
LOCATE COMP "sdram_dq[17]" SITE "B4";
LOCATE COMP "sdram_dq[18]" SITE "A4";
LOCATE COMP "sdram_dq[19]" SITE "B3";
LOCATE COMP "sdram_dq[20]" SITE "A3";
LOCATE COMP "sdram_dq[21]" SITE "C3";
LOCATE COMP "sdram_dq[22]" SITE "A2";
LOCATE COMP "sdram_dq[23]" SITE "B2";
LOCATE COMP "sdram_dq[24]" SITE "D14";
LOCATE COMP "sdram_dq[25]" SITE "B14";
LOCATE COMP "sdram_dq[26]" SITE "A14";
LOCATE COMP "sdram_dq[27]" SITE "B13";
LOCATE COMP "sdram_dq[28]" SITE "A13";
LOCATE COMP "sdram_dq[29]" SITE "B12";
LOCATE COMP "sdram_dq[30]" SITE "B11";
LOCATE COMP "sdram_dq[31]" SITE "A11";
LOCATE COMP "sdram_ras_n" SITE "B6";
LOCATE COMP "sdram_cas_n" SITE "A6";
LOCATE COMP "sdram_we_n" SITE "B5";
LOCATE COMP "sdram_clk" SITE "C8";

IOBUF PORT "sdram_addr[0]" IO_TYPE=LVCMOS33 SLEWRATE=FAST;
IOBUF PORT "sdram_addr[1]" IO_TYPE=LVCMOS33 SLEWRATE=FAST;
IOBUF PORT "sdram_addr[2]" IO_TYPE=LVCMOS33 SLEWRATE=FAST;
IOBUF PORT "sdram_addr[3]" IO_TYPE=LVCMOS33 SLEWRATE=FAST;
IOBUF PORT "sdram_addr[4]" IO_TYPE=LVCMOS33 SLEWRATE=FAST;
IOBUF PORT "sdram_addr[5]" IO_TYPE=LVCMOS33 SLEWRATE=FAST;
IOBUF PORT "sdram_addr[6]" IO_TYPE=LVCMOS33 SLEWRATE=FAST;
IOBUF PORT "sdram_addr[7]" IO_TYPE=LVCMOS33 SLEWRATE=FAST;
IOBUF PORT "sdram_addr[8]" IO_TYPE=LVCMOS33 SLEWRATE=FAST;
IOBUF PORT "sdram_addr[9]" IO_TYPE=LVCMOS33 SLEWRATE=FAST;
IOBUF PORT "sdram_addr[10]" IO_TYPE=LVCMOS33 SLEWRATE=FAST;
IOBUF PORT "sdram_ba[0]" IO_TYPE=LVCMOS33 SLEWRATE=FAST;
IOBUF PORT "sdram_ba[1]" IO_TYPE=LVCMOS33 SLEWRATE=FAST;
IOBUF PORT "sdram_dq[0]" IO_TYPE=LVCMOS33 SLEWRATE=FAST;
IOBUF PORT "sdram_dq[1]" IO_TYPE=LVCMOS33 SLEWRATE=FAST;
IOBUF PORT "sdram_dq[2]" IO_TYPE=LVCMOS33 SLEWRATE=FAST;
IOBUF PORT "sdram_dq[3]" IO_TYPE=LVCMOS33 SLEWRATE=FAST;
IOBUF PORT "sdram_dq[4]" IO_TYPE=LVCMOS33 SLEWRATE=FAST;
IOBUF PORT "sdram_dq[5]" IO_TYPE=LVCMOS33 SLEWRATE=FAST;
IOBUF PORT "sdram_dq[6]" IO_TYPE=LVCMOS33 SLEWRATE=FAST;
IOBUF PORT "sdram_dq[7]" IO_TYPE=LVCMOS33 SLEWRATE=FAST;
IOBUF PORT "sdram_dq[8]" IO_TYPE=LVCMOS33 SLEWRATE=FAST;
IOBUF PORT "sdram_dq[9]" IO_TYPE=LVCMOS33 SLEWRATE=FAST;
IOBUF PORT "sdram_dq[10]" IO_TYPE=LVCMOS33 SLEWRATE=FAST;
IOBUF PORT "sdram_dq[11]" IO_TYPE=LVCMOS33 SLEWRATE=FAST;
IOBUF PORT "sdram_dq[12]" IO_TYPE=LVCMOS33 SLEWRATE=FAST;
IOBUF PORT "sdram_dq[13]" IO_TYPE=LVCMOS33 SLEWRATE=FAST;
IOBUF PORT "sdram_dq[14]" IO_TYPE=LVCMOS33 SLEWRATE=FAST;
IOBUF PORT "sdram_dq[15]" IO_TYPE=LVCMOS33 SLEWRATE=FAST;
IOBUF PORT "sdram_dq[16]" IO_TYPE=LVCMOS33 SLEWRATE=FAST;
IOBUF PORT "sdram_dq[17]" IO_TYPE=LVCMOS33 SLEWRATE=FAST;
IOBUF PORT "sdram_dq[18]" IO_TYPE=LVCMOS33 SLEWRATE=FAST;
IOBUF PORT "sdram_dq[19]" IO_TYPE=LVCMOS33 SLEWRATE=FAST;
IOBUF PORT "sdram_dq[20]" IO_TYPE=LVCMOS33 SLEWRATE=FAST;
IOBUF PORT "sdram_dq[21]" IO_TYPE=LVCMOS33 SLEWRATE=FAST;
IOBUF PORT "sdram_dq[22]" IO_TYPE=LVCMOS33 SLEWRATE=FAST;
IOBUF PORT "sdram_dq[23]" IO_TYPE=LVCMOS33 SLEWRATE=FAST;
IOBUF PORT "sdram_dq[24]" IO_TYPE=LVCMOS33 SLEWRATE=FAST;
IOBUF PORT "sdram_dq[25]" IO_TYPE=LVCMOS33 SLEWRATE=FAST;
IOBUF PORT "sdram_dq[26]" IO_TYPE=LVCMOS33 SLEWRATE=FAST;
IOBUF PORT "sdram_dq[27]" IO_TYPE=LVCMOS33 SLEWRATE=FAST;
IOBUF PORT "sdram_dq[28]" IO_TYPE=LVCMOS33 SLEWRATE=FAST;
IOBUF PORT "sdram_dq[29]" IO_TYPE=LVCMOS33 SLEWRATE=FAST;
IOBUF PORT "sdram_dq[30]" IO_TYPE=LVCMOS33 SLEWRATE=FAST;
IOBUF PORT "sdram_dq[31]" IO_TYPE=LVCMOS33 SLEWRATE=FAST;
IOBUF PORT "sdram_ras_n" IO_TYPE=LVCMOS33 SLEWRATE=FAST;
IOBUF PORT "sdram_cas_n" IO_TYPE=LVCMOS33 SLEWRATE=FAST;
IOBUF PORT "sdram_we_n" IO_TYPE=LVCMOS33 SLEWRATE=FAST;
IOBUF PORT "sdram_clk" IO_TYPE=LVCMOS33 SLEWRATE=FAST;
